# Redistributed upstream group-theory tables; keep the tracked allowlist explicit.
/Source/*
!/Source/README.md
!/Source/const.dat
!/Source/data_images.txt
!/Source/data_irreps.txt
!/Source/data_isotropy.txt
!/Source/data_little.txt
!/Source/data_magnetic.txt
!/Source/data_space.txt
!/Source/data_ssgmag.txt
!/Source/data_wyckoff.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/

# OS / editor
.DS_Store
